.product-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3em;
  padding: 50px 10px;
  
  .card {
    margin-bottom: 10%;
    border-radius: 20px;
    background-color: rgb(30, 0, 30);
    
    img {
      border-radius: 20px;
      padding: 2px 2px 0px 2px;
    }
    
    h2 {
      padding: 10px 10px 20px 10px;
      color: white;
      text-transform: capitalize;
      text-align: center;
    }

    &:hover {
      background-color: rgb(128, 0, 128);
      
      h2 {
        color: yellow;
      }
    }
  }
}

@media (min-width: $small) {
  .product-grid-container {
    grid-template-columns: 1fr 1fr;

    .card {
      h2 {
        padding: 20px 10px 35px 10px;
      }
    }
  }
}

@media (min-width: $large) {
  .product-grid-container {
    justify-content: space-evenly;
    grid-template-columns: 350px 350px;
    
  }
}
