footer {
  
  position: relative;
  width: 100%;
  max-width: 87.5rem;
  overflow: hidden;
  padding: 50px 0 50px 0;

  nav {
    
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        padding: 0 20px 0 20px;
        
        div {
          background-color: #000;
          border-radius: 10px;
          height: 30px;

          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media (min-width: $large) {
  footer {
    padding-top: 20px;
     bottom: -10px;
     position: absolute;
  }
}