header {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 10px;
  background: #222;
  width: 100%;
  max-width: 87.5rem;

  .logo {
    float: left;
    width: 90px;
    margin-left: 10px;
  }

  .hamburguer-menu.toggle {
    padding: 0 10px;
    float: right;
    cursor: pointer;

    &.active {
      .top {
        transform: translateX(7px) translateY(0px) rotate(45deg);
        transition: transform .3s ease-in-out;
      }

      .middle {
        transform: scale(0);
        transform-origin: center;
      }

      .bottom {
        transition: transform .3s ease-in-out;
        transform: translateX(-10px) translateY(10px) rotate(-45deg);
      }
    }

    &:not(.active) {
        
      .top {
          transition: transform  .3s ease-in-out;
      }

      .middle {
          transform: scale(1);
          transform-origin: center;
          transition: transform  .3s ease-in-out;
      }
      
      .bottom {
          transition: transform  .3s ease-in-out;
      }
    }
  }
  
  nav {
    z-index: 1000;
    text-align: center;

    ul {
      margin: 0;
      padding: 40px 0 0 0;
      flex-direction: column;
      transition: .3s ease-in-out;
      
      li {
        padding: 15px;
        list-style: none;
        text-transform: uppercase;

        h1 {
          color: #999;
        
          &:hover {
            color: #fff;
            transition: 0.5s;
          }
        }
      }
      
      &:not(.active) {
        display: none;
      }

      &.active {
        justify-content: space-evenly;
        display: flex;
      }
    }
  }
}

@media (min-width: $large) {

  header {

    .hamburguer-menu.toggle {
      display: none;
      
    }
    
    nav {
      float: right;
      margin-top: 0px;
      
      ul {
        flex-direction: row;
        display: flex;
        align-items: right;
        padding: 0px;
        
        &:not(.active) {
          display: flex;
        }

        li {
          padding: 0px 15px 0 15px;
        }
      }
    }
  }
}