
.main-title {
  padding: 0 0 40px 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.slider {
  overflow: hidden;
  width: 100%;
  border-radius: 25px;
  
  
  figure {
  position: relative;
  width: 1000%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
  
    img {
    width: 10%;
    float: left;
    }
  }
}

@keyframes slider{
  0% {left: 0;}
  20% {left: 0;}
  40% {left: -100%;}
  60% {left: -100%;}
  80% {left: -200%;}
  100% {left: -200%;}
}

@media (min-width: $large) {
  .slider {
    width: 950px;
    margin: 0 200px 0 200px;
  }
}