.news-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding: 40px 20px 0 20px;
  

  section {
    margin-bottom: 10%;
    
      img {
        width: 100%;
        height: auto;
      }
    
      .title {
        position: relative;
        margin-top: -15%;
        justify-content: space-around;
        
        h2 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: $small) {
  .news-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $large) {
  .news-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}