.page-path {
  flex-direction: row;
  display: flex;
  
  li {
    padding: 0 5px 0 5px;

    h1 {
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
    }

    .path-arrow,.path-2,.path-3 {
      display: none;
    }

    a h1:hover {
      color: #fff;
    }
  }
}


@media (min-width: $small) {
  .page-path {
    
    li {
      .path-arrow,.path-2,.path-3 {
        display: flex;
      }
    }
  }
}