.product-flex-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
 
  .card {
    max-width: 640px;
    padding: 30px;

    div {
      background-color: #000;
      border-radius: 20px;
      opacity: 0.9;
      
      img {
        border-radius: 20px;
        padding: 2px 2px 0px 2px;
      }

      h2 {
        padding: 20px 10px 25px 10px;
        color: white;
        text-transform: uppercase;
        text-align: center;
      }

      &:hover {
        
        img {
          opacity: 0.2;
        }

        h2 {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: $small) {
  .product-flex-container {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      max-width: 50%;
    }
  }
}

@media (min-width: $large) {
  .product-flex-container {
    padding-top: 50px;
    
    .card {
      max-width: 33%;
    }
 }
}
