
.support-card {
  background-color: #bbb;
  opacity: 0.9;
  border-radius: 50px;
  margin: 100px auto 0 auto;
  max-width: 200px; 
  
  .support-grid-container {
    
    display: grid;
    grid-template-columns: 100px;
    grid-gap: 2em;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    
    section {
   
      svg {
        width: 100%;
        height: auto;
      }

        h2 {
          padding-top: 15px;
          color: #000;
          text-transform: uppercase;
          text-align: center;
        }
      
      &:hover {
        
        svg{
        opacity: 0.3;
        }
        h2 {
           color: purple;
        }
      }
    }
  }
}



@media (min-width: $large) {
  
  .support-card {
    max-width: 600px;

    .support-grid-container {
      grid-template-columns: 100px 100px 100px;
      grid-gap: 5em;
    }
  }
}
