@import 'reset';
@import 'vars';
@import 'base';
@import 'type';

//COMPONENTS
@import 'components/header';
@import 'components/footer';
@import 'components/index';
@import 'components/news';
@import 'components/products';
@import 'components/support';
@import 'components/electric-guitars';
@import 'components/path';


body {
  margin: 0;
  padding: 0;
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-position: top;
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;

}

main {
  padding: 100px 40px 40px 40px;
}